.root{
    --cor0:#F2F2F2;
    --cor1:#735C48;
    --cor2:#D9D5A3;
    --cor3:#B4BF60;
    --cor4:#D9D5A3;
}
body{
    background-color:#F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    background-color:#073550;
    height: 40px;
    width: 1310px;
}
.Hs1{
    float: right;
    height: 40px;
    width: 200px;
}

main{
    border-radius: 10px;
    height: 2150px;
    width: 1290px;
}

.S1{
    display: inline-block;
    height: 400px;
    width: 1290px;
}
.S2{
    display: inline-block;
    height: 400px;
    width: 1290px;
}
.S3{
    display: inline-block;
    height: 400px;
    width: 1290px;
}
.S4{
    display: inline-block;
    height: 400px;
    width: 1290px;
}

.AS1{
    float: left;
    height: 400px;
    width: 670px;
}
.A1{
    float: right;
    height: 400px;
    width: 590px;
}

.A2{
    float: left;
    height: 400px;
    width: 590px;
}
.AS2{
    float: right;
    height: 400px;
    width: 670px;
}

.Im1{
    display:inline-block;
}
footer{
    color: white;
    background-color:#073550;
    height: 40px;
    width: 1310px;
}

